{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<div class="split left">
  <img src="{% static 'assets/client-sign-up.jpg' %}" alt="pink flowers">
  <div class="centered">
    <h1 class="image-text">Client Sign Up</h1>
  </div>
</div> 

<div class="split right">
  <div class="centered">
    <form class="sign-up-form" method="POST" action="">
      {% csrf_token %}
      {{ client_registration_form|crispy}}
     
      <div class="submit-btn">
        <button type="submit">Sign Up</button>
      </div>
    </form>
    <p>Already Have An Account? <a class="need-account" href="{% url 'login' %}">Login</a></p>
    </p>
  </div>
</div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags}}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

{% endblock content %}