{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="split left">
  <img src="{% static 'assets/login.jpg' %}" alt="pink flowers">
  <div class="centered">
    <h1 class="image-text">Login</h1>
  </div>
</div> 

<div class="split right">
  <div class="centered">
    <form class="login-form" method="POST" action="">
      {% csrf_token %}
      <div class="input-text">
        <input type="text" name="username" placeholder="Username" class="">
      </div>
      <div class="input-text">
        <input type="password" name="password" placeholder="Password" class="" >
      </div>
      <div class="submit-btn">
        <button type="submit">Login</button>
      </div>
    </form>
    <p>Don't have an account? <a class="need-account" href="{% url 'registration' %}">Client Sign Up</a></p>
    <p>Apply to become a service provider? <a class="need-account" href="{% url 'application' %}">Apply Now</a>
    </p>
  </div>
</div>

  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% endblock content %}