{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="box"  style="text-align: center; padding-bottom:2.5em;">
<h1 class="heading">Password reset complete</h1>

<p style="text-align:center;font-size:1.2em; padding:2em;">Your password has been set. You may go ahead and log in now.</p>

<div class="submit-btn">
  <a style=
  "font-size:1.3em;background-color:white;color: black;text-decoration:none;
   padding:0.5em 8em;border-radius:1em;font-family: 'Julius Sans One', sans-serif;" 
      href="{% url 'login' %}">Login</a>
</div>


</div>
{% endblock content %}