{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="box" style="text-align: center;">
  <h1 class="heading">Password Reset Request Sent</h1>

  <p style="text-align:center;font-size:1.2em; padding:2em;">
    We've emailed you instructions for setting your password. 
    If an account exists with the email you have entered, you should receive them shortly.
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
  </p>

  </div>
{% endblock content %}