{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!--  Ensure that the email you enter exists in the django database -->
<div class="split left">
  <img src="{% static 'assets/login.jpg' %}" alt="pink flowers">
  <div class="centered">
    <h1 class="image-text">RESET PASSWORD</h1>
  </div>
</div> 

<div class="split right">
  <div class="centered">
    <p style="font-size:1.2em;">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form class="login-form" method="POST" action="">
      {% csrf_token %}
      
      {% csrf_token %}
      {{ form|crispy }}
      
      <div class="submit-btn">
        <button type="submit">Send Email</button>
      </div>
    </form>
  </div>
</div>



{% endblock content %}