{% extends 'base.html' %}

{% block content %}

<h1>Service Provider Registration Application Form</h1>

<div>
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}  <!-- prevent against malicious attacks -->
    {{ service_provider_application_form.as_p }} <!-- wraps p tag around every paragraph-->
    <input type="submit" value="APPLY" />
  </form>
</div>
{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags}}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}

{% endblock content %}