/* ******search functionalities - also applies to discussion forums ***************/
.search-functionalities {
  font-size: 1.2em;
  grid-area: searching;
  padding-top: 2em;
  font-family: 'Julius Sans One', sans-serif;
  
}

.search-bar {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
 
  
}

.search-bar > form {
  display: flex;

  
}
.search-bar input[type=text] {
  font-size: 0.95em;
  padding: 0.35em;
  border-radius: 1em;
  border: 1px solid black;
}

.search-bar input[type="text"]::placeholder {
  color: black;
}
.search-bar button {
  border-radius: 0.25em;
  color: black;
  margin-left: -2.5em;
  background: transparent;
  
  border: none;
  cursor: pointer;
}

.results-heading {
  grid-area: heading;
  font-family: 'Julius Sans One', sans-serif;
 
}
.create-post{
  grid-area: create;
  font-family: 'Julius Sans One', sans-serif;
  padding-top: 2em;
  text-align: center;
  
}

.create-post > h3 > a {
  text-decoration: none;
  border-radius: 1em;
  color: white;
  background-color: var(--primary-color);
  padding: 0.25em 8em;
  margin-left: -8em
  
}

.main-content {
  display: grid;
  grid-template-areas: 
  'searching create create create create'
  'searching heading heading heading heading'
  'searching article article article article'
  'searching article article article article'
  'searching article article article article';
  grid-template-columns: 1.3fr 1.2fr 1.2fr 1.2fr 1.2fr;
  gap: 50px;
}





.categories {
  padding: 1em;
 
}

.categories > ul {
  list-style-type: none;
  padding-left: 0.25em;
  
  
}
.categories > ul > li > a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight:500;
 
  
}
.categories > ul > li > a:hover{
  text-decoration: none;
  color: black;
}




.articles {
  padding: 0.5em;
  grid-area: article;

 
}
.article {
  
  display: inline-block;
  margin: 2em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 22%;
  
}

.article > a > img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  overflow: visible;
}

.article-container {
  padding: 1em 1em;
  line-height: 0.5em;
}

.article-title > a{
  text-decoration: none;
  color: black;
}
.article-category  {
  color: var(--primary-color);
}

.no-results {
  font-family: 'Julius Sans One', sans-serif;
}

/********************************* Article page **********************************/

.article-blog-post {
  padding: 4em;
  
}


.blog-article-category {
  color: var(--primary-color);
  text-align: center;
}

.article-blog-post > h1 {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  
}

.author-date {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}

.article-blog-post-image {
  border-radius: 1em;
  display:block;
  margin:auto;

}





