
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap');



:root {
 --primary-color: #FF5D5D;
 --secondary-color: #FF8C8C; 
 --secondary-color-2: #FFC3C3; 
}

body{
  
  font-family: 'Roboto', sans-serif;

}


/* ----------------- Main Navigation Bar ------------------*/
#logo {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  list-style-type: none;
  text-decoration: none;
  color: var( --primary-color);
  padding-left: 0.5em;
  

}

#client-signup {
  background-color: var(--secondary-color);
  border-radius: 2em;
  padding: 0.25em 0.75em 0.25em 0.75em;
}
#sp-apply {
  background-color: var(--secondary-color);
  border-radius: 2em;
  padding: 0.25em 0.75em 0.25em 0.75em;
}
.navbar {
  background-color: black;
  padding-left: 1em;
  padding-right: 1.5em;
  
}
.navbar > ul {
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul > li {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.2em;

}

.navbar ul > li > a {
  text-decoration: none;
  color: white;

}

.navbar ul > li > a:hover{
  text-decoration: none;
 

}
.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 10em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 6em;
  padding: 0.25em;
  z-index: 1;
}

.dropdown-content > ul {
  list-style-type: none;
  color: white;
}

.dropdown-content > ul > li {
  font-size: 1.2em;
}
.dropdown-content > ul > li > a {
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* ----------------- Room Styling ------------------*/
#room-name-wrapper{
  text-align: center;
  font-size: 18px;
}

#video-streams{
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  width: 95%;
  margin:0 auto;
}

.video-container{
  flex-basis: 500px;
  flex-grow: 1;
  max-height: 100%;
  min-height: 350px;
  border: 1px solid rgb(75, 93, 172);
  border-radius: 5px;
  margin: 2px;
  background-color: rgba(198,202,219,1);
  position: relative;
}

.video-player{
  height: 100%;
  width: 100%;
}

.video-player > * {
  border-radius: 5px;
}

.username-wrapper{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width:1650px) {
  .video-container{
      flex-basis: 300px;
      min-height: 200px;
  }
}


/* ----------------- Room Styling | Controls ------------------*/

#controls-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 1em;
  position: fixed;
  bottom: 20px;
}

.control-icon{
  height: 20px;
  width: 20px;
  /* box-shadow: var(--shaddow);
  background-color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px; */

}

#leave-btn{
  background-color: rgb(255, 80, 80, 1);
}

