<!-- {% load static %} -->


<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
    </ul>
  </div>

  <a href="{% url 'home' %}">Home</a><br>
  <a href="{% url 'registration' %}">Client Sign Up</a><br>
  <a href="{% url 'application' %}">Apply to become a service provider</a><br>
  
  {% if request.user.is_authenticated and request.user.is_client %}
  <h4>{{request.user}}</h4><br>
  <a href="{% url 'client-profile' request.user.username %}">My Profile</a><br>
  <a href="{% url 'logout' %}">Logout</a><br>
  {% elif request.user.is_authenticated and request.user.is_service_provider %}
  <h4>{{request.user}}</h4><br>
  <a href="{% url 'service-provider-profile' request.user.username %}">My Profile</a><br>
  <a href="{% url 'logout' %}">Logout</a><br>
  {% elif request.user.is_authenticated and request.user.is_staff or request.user.is_superuser %}
  <h4>{{request.user}}</h4><br>
  <a href="{% url 'service-provider-profile' request.user.username %}">My Profile</a><br>
  <a href="{% url 'client-profile' request.user.username %}">My Profile</a><br>
  <a href="{% url 'logout' %}">Logout</a><br>
  {% else %}

  <a href="{% url 'login' %}">Login</a><br>

  {% endif %}
 

</nav>
<hr>