{% extends 'base.html' %}
{% load static %}
{% block content %}


<main class="video-call">
  <section id="room-name-wrapper">
      <h3 class="heading">Event ID: <span id="room-name"></span></h3>
  </section>

  <section id="video-streams" class="video-streams"></section>

  <section id="controls-wrapper" class="video-controls">
      <div class="v-icon">
          <img class="control-icon" style="margin-top: 2.5em;" id="mic-btn" src="{% static 'assets/microphone.svg' %}" />
      </div>

      <div class="v-icon">
          <img class="camera" style="margin-top: 2.5em;" id="camera-btn" src="{% static 'assets/video.svg' %}" />
      </div>

      <div class="submit-btn">
          <button class="leave" id="leave-btn" style="margin-top: 2em;" >Leave Call</button>
      </div>
  </section>
</main>

<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.12.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>

{% endblock content %}