{% extends 'base.html' %}
{% load static %}
{% block content %}



<main>

  <section id="form-container">
    <div class="split left">
        <img src="{% static 'assets/lobby.jpg' %}" alt="pink flowers">
        <div class="centered">
          <h1 class="image-text">Join Video Call</h1>
        </div>
      </div> 
      
      <div class="split right">
        <div class="centered">
          <form id="form" class="login-form" method="POST" action="">
            <input type="text" name="room" placeholder="Event ID" />
            <input type="text" name="name" placeholder="Display Name" />
            <div class="submit-btn">
              <button type="submit">Join Call Now</button>
            </div>
          </form>
        </div>
      </div>

  </section>
</main>



<script>
  let form = document.getElementById('form')

  let handleSubmit = async (e) => {
      e.preventDefault()
      let room = e.target.room.value.toUpperCase() // get room value
      let name = e.target.name.value

      let response = await fetch(`/video-calling/get_token/?channel=${room}`) // get token and pass in room name
      let data = await response.json() // parse data

      // extract uid and token
      let UID = data.uid 
      let token = data.token

      // use session storage to store the parsed data
      sessionStorage.setItem('UID', UID)
      sessionStorage.setItem('token', token)
      sessionStorage.setItem('room', room)
      sessionStorage.setItem('name', name)

      window.open('/video-calling/room/', '_self')
  }



  form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}