{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
  <h1>Client User Login Form</h1>
  
  <div class="d-flex justify-content-center form_container">
  <form method="POST" action="">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Login</legend>
    
    </fieldset>
    <div class="input-group mb-3">
      <input type="text" name="username" placeholder="Username..." class="form-control">
    </div>

        <input type="password" name="password" placeholder="Password..." class="form-control" >
    </div>
    <div class="d-flex justify-content-center mt-3 login_container">
      <button class="btn login_btn" type="submit">Login</button>
    </div>
  </form>
  </div>

  <div class="d-flex justify-content-center links">
    <small class="text-muted">
      Need An Account? <a class="ml-2" href="{% url 'registration' %}">Sign Up Now</a>
    </small>
  </div>
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags}}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% endblock content %}