{% extends 'base.html' %}

{% block content %}

<h1>Client Profile page</h1>

<h4>{{user.username}}</h4>

<a href="{% url 'client-profile' request.user.username %}">Profile</a>
<a href="{% url 'client-appointments' request.user.username %}">My Appointments</a>
<a href="{% url 'client-group-sessions' request.user.username %}">Live Group Sessions</a>

<h4>{{user.email}}</h4>

<h3>Bio</h3>
<p>{{ client.bio }}</p>


{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags}}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}

{% endblock content %}