{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<nav class="profile-navbar">
  <ul>
    <li><a href="{% url 'service-provider-profile' request.user.username %}">Profile</a></li>
    <li><a href="{% url 'change-password' %}">Change Password</a></li>
  </ul>
</nav>

<h1 class="heading">Edit Profile</h1>


<div class="edit-profile">
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_user_profile_form|crispy}}
    {{ update_service_provider_profile_form|crispy }}
    {{ update_service_provider_profile_form.media }}
    <div class="submit-btn">
      <button type="submit">Save</button>
    </div>
  </form>
</div>

{% endblock content %}