{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<nav class="profile-navbar">
  <ul>
    {% if request.user.is_authenticated and request.user.is_staff or request.user.is_service_provider %}
    <li><a href="{% url 'service-provider-profile' request.user.username %}">Profile</a></li>
    <li><a href="{% url 'edit-service-provider-profile' request.user.username %}">Edit Profile</a></li>
    {% else %}
    <li><a href="{% url 'client-profile' request.user.username %}">Profile</a></li>
    <li><a href="{% url 'edit-client-profile' request.user.username %}">Edit Profile</a></li>
    {% endif %}
    <li><a href="{% url 'change-password'  %}">Change Password</a></li>
  </ul>
</nav>
<h1 class="heading">Change Password</h1>

<div class="edit-profile">
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {{ password_change_form|crispy }}
  
  <div class="submit-btn">
    <button type="submit">Save Password</button>
  </div>
</form>
</div>

{% endblock content %}


