{% extends 'base.html' %}

{% block content %}

<h1>Service Provider Profile</h1>


<h4>{{user.first_name}}  {{user.last_name}}</h4>
<h6>@{{ user.username }}</h6>
<img style="border-radius: 50%;" src="{{user.profile_picture.url}}" alt="profile picture" width="200" height="200"/>


<a href="{% url 'service-provider-profile' user %}">Profile</a>
{% if request.user == user %}
<a href="{% url 'schedule-appointments' user%}">Schedule Appointments</a>
<a href="{% url 'booked-appointments' user %}">Booked Appointments</a>
<a href="{% url 'schedule-group-sessions' user %}">Schedule Live Group Sessions</a>
{% endif %}
<a href="{% url 'available-group-sessions' user %}">Live Group Sessions</a>




<h4>{{user.email}}</h4>

<p>{{ user.city }}, {{ user.country.name }}</p>

<h4><a href="{%  url 'client-booking' user %}">Book Now</a></h4>
<!-- # https://pypi.org/project/django-countries/#installation -->
<h3>About</h3>
<p>{{ service_provider.about | safe }}</p>
<h3>Announcements</h3>
<p>{{ service_provider.announcements }}</p>






{% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags}}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}




{% endblock content %}