{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="parent">
  <img class="client-profile-background-image" src="{% static 'assets/client-profile-banner.jpg' %}" alt="profile picture"  /> 
  <img class="profile-image" style="border-radius: 50%;" src="{{user.profile_picture.url}}" alt="profile picture" width="200" height="200"/>
  <p class="profile-username">@{{user.username}}</p>
</div>

<nav class="profile-navbar">
  <ul>
    <li><a href="{% url 'client-profile' request.user.username %}">Profile</a></li>
    <li><a href="{% url 'client-appointments' request.user.username %}">My Appointments</a></li>
    <li><a href="{% url 'client-group-sessions' request.user.username %}">Live Group Sessions</a></li>
    <li><a href="{% url 'edit-client-profile' request.user.username %}">Edit Profile</a></li>
  </ul>
</nav>


{% if request.user == user %}

<h2 class="heading">My Appointments</h2>

<div class="valid-appointments">
  {% for my_booking in my_bookings %}
  
    {% if current_date < my_booking.date or current_date == my_booking.date and current_time < my_booking.time %}
    {% if my_booking.booked == True %}
    <div class="current-appointment">
      <div class="sp-app-details">
        <div><img style="border-radius: 50%;margin-bottom: 1em;" src="{{my_booking.service_provider.profile_picture.url}}" alt="profile picture" width="60" height="60"/></div>
        <div class="name-handle">
          <h4>{{ my_booking.service_provider.first_name }} {{ my_booking.service_provider.last_name }}</h4>
        <a class="handle" href="{% url 'service-provider-profile' my_booking.service_provider %}">@{{ my_booking.service_provider.username }} </a>
        </div>
      </div>
        
        <p>Date: {{ my_booking.date }}</p>
        <p>Time: {{ my_booking.time }}</p>
        <p>Duration: {{ my_booking.duration }} min</p>
        <p>Event ID: {{ my_booking.id }}</p>

        {% if my_booking.confirmed == True %}
          <p class="confirmed-appointment">Confirmed</p>
          <div class="app-controls">
          <a class="cancel-app" href="{% url 'cancel-booking' my_booking.id %}">Cancel</a>
          <a class="join-call" href="{% url 'lobby' %}">Join Call</a>
        </div>
        {% else %}
          <p class="pending-appointment">Pending</p>
          <div class="app-controls">
          <a class="cancel-app" href="{% url 'cancel-booking' my_booking.id %}">Cancel</a>
          </div>
        {% endif %}
      </div>
        {% endif %}
    {% endif %}
  
  {% endfor %}
</div>


<h2 class="heading">Cancelled Appointments</h2>
<div class="valid-appointments">
  {% for my_booking in my_bookings %}
    {% if current_date < my_booking.date or current_date == my_booking.date and current_time < my_booking.time %}
    {% if my_booking.cancelled == True %}
    <div class="current-appointment">
      <div class="sp-app-details">
        <div><img style="border-radius: 50%;margin-bottom: 1em;" src="{{my_booking.service_provider.profile_picture.url}}" alt="profile picture" width="60" height="60"/></div>
        <div class="name-handle">
          <h4>{{ my_booking.service_provider.first_name }} {{ my_booking.service_provider.last_name }}</h4>
        <a class="handle" href="{% url 'service-provider-profile' my_booking.service_provider %}">@{{ my_booking.service_provider.username }} </a>
        </div>
      </div>
        
        <p>Date: {{ my_booking.date }}</p>
        <p>Time: {{ my_booking.time }}</p>
        <p>Duration: {{ my_booking.duration }} min</p>
      </div>
    {% endif %}
    
    

  {% endif %}
  {% endfor %}
</div>
{% endif %}

</div>

{% endblock content %}