{% extends 'base.html' %}

{% block content %}

<div class="box">
<h4 class="heading"> Are you sure you want to cancel the appointment with {{ booking.client.username }}?</h4>
<div class="info">
  <p>Date: {{booking.date }}</p>
  <p>Time: {{booking.time}}</p>
  <p>Duration: {{ booking.duration }} min</p>
</div>

<form method="POST" action="">
  {% csrf_token %}
  {{ sp_booking_form.as_p }}
  <div class="submit-btn">
    <button style="font-size:1.3em;background-color:white;color: black;" type="submit">Yes</button>
  </div>
</form>
</div>
{% endblock content %}