{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="parent">
<img class="client-profile-background-image" src="{% static 'assets/sp-profile-banner.jpg' %}" alt="profile picture"  /> 
<img class="profile-image-sp" src="{{user.profile_picture.url}}" alt="profile picture" />
<div class="profile-header-info-sp">
  <h1>{{user.first_name}}  {{user.last_name}}</h1>
  <p>@{{ user.username }}</p>
  <a class="book-button" href="{%  url 'client-booking' user %}">Book Now</a>
</div>

</div>
<nav class="profile-navbar">
  <ul>
    <li><a href="{% url 'service-provider-profile' user %}">Profile</a></li>
    <li> <a href="{% url 'edit-service-provider-profile' user%}">Edit Profile</a></li>
    <li><a href="{% url 'schedule-appointments' user%}">Schedule Appointments</a></li>
    <li><a href="{% url 'booked-appointments' user %}">Booked Appointments</a></li>
    <li><a href="{% url 'schedule-group-sessions' user %}">Schedule Live Group Sessions</a></li>
    
    <li><a href="{% url 'available-group-sessions' user %}">Live Group Sessions</a></li>
  </ul>
</nav>


{% if request.user == user %}
<div>


  <h2 class="heading">Booked Appointments</h2>
  <div class="valid-appointments">
  {% for available_booking in available_bookings %}

    {% if current_date < available_booking.date or current_date == available_booking.date and current_time < available_booking.time %}
      {% if available_booking.booked == True %}
      <div class="current-appointment">
        <div class="sp-app-details">
          <div><img style="border-radius: 50%;margin-bottom: 1em;" src="{{available_booking.client.profile_picture.url}}" alt="profile picture" width="60" height="60"/></div>
          <div class="name-handle">
          <a style="text-decoration:none; color:black" class="name" href="{% url 'client-profile' available_booking.client %}">{{ available_booking.client.username }} </a>
          </div>
        </div>
      
        <p>Date: {{ available_booking.date }}</p>
        <p>Time: {{ available_booking.time }}</p>
        <p>Duration: 60 min</p>
        <p>Event ID: {{ available_booking.id }}</p>

      {% if available_booking.confirmed == True %}
      <p class="confirmed-appointment">Confirmed</p>
      <div class="app-controls">
        <a class="cancel-app" href="{% url 'cancel-booking-sp' available_booking.id %}">Cancel</a>
        <a class="join-call" href="{% url 'lobby' %}">Host Call</a>
      </div>
      {% else %}
      <p class="pending-appointment">Pending</p>
      <div class="app-controls">
        <a class="cancel-app" href="{% url 'cancel-booking-sp' available_booking.id %}">Cancel</a>
        <a class="sp-confirm-app" href="{% url 'confirm-booking-sp' available_booking.id %}">Confirm</a>
      </div>
      {% endif %}
    </div>
    {% endif %}

  {% endif %}
  {% endfor %}
</div>

  


<h2 class="heading">Cancelled Appointments</h2>
<div class="valid-appointments">
  {% for available_booking in available_bookings %}
  {% if current_date < available_booking.date or current_date == available_booking.date and current_time < available_booking.time %}

    {% if available_booking.cancelled == True %}
    <div class="current-appointment">
      <div class="sp-app-details">
        <div><img style="border-radius: 50%;margin-bottom: 1em;" src="{{available_booking.client.profile_picture.url}}" alt="profile picture" width="60" height="60"/></div>
        <div class="name-handle">
        <a style="text-decoration:none; color:black" class="name" href="{% url 'client-profile' available_booking.client %}">{{ available_booking.client.username }} </a>
        </div>
      </div>
    
      <p>Date: {{ available_booking.date }}</p>
      <p>Time: {{ available_booking.time }}</p>
      <p>Duration: 60 min</p>
      <p>Event ID: {{ available_booking.id }}</p>
    </div>
    {% endif %}
    
  {% endif %}
  {% endfor %}
</div>
{% endif %}

{% endblock content %}