{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="parent">
<img class="client-profile-background-image" src="{% static 'assets/sp-profile-banner.jpg' %}" alt="profile picture"  /> 
<img class="profile-image-sp" src="{{user.profile_picture.url}}" alt="profile picture" />
<div class="profile-header-info-sp">
  <h1>{{user.first_name}}  {{user.last_name}}</h1>
  <p>@{{ user.username }}</p>
  <a class="book-button" href="{%  url 'client-booking' user %}">Book Now</a>
</div>

</div>
<nav class="profile-navbar">
  <ul>
    <li><a href="{% url 'service-provider-profile' user %}">Profile</a></li>
    <li> <a href="{% url 'edit-service-provider-profile' user%}">Edit Profile</a></li>
    <li><a href="{% url 'schedule-appointments' user%}">Schedule Appointments</a></li>
    <li><a href="{% url 'booked-appointments' user %}">Booked Appointments</a></li>
    <li><a href="{% url 'schedule-group-sessions' user %}">Schedule Live Group Sessions</a></li>
    
    <li><a href="{% url 'available-group-sessions' user %}">Live Group Sessions</a></li>
  </ul>
</nav>


{% if request.user == user %}
<h1 class="heading">Schedule Available Bookings</h1>

<div style="width:80%;padding:2em;margin-bottom: 2em;margin-top: 0.5em;font-size: 1.25em;">
  <form method="POST" action="">
    {% csrf_token %}  <!-- prevent against malicious attacks -->
    
    {{ form.as_p }} <!-- wraps p tag around every paragraph-->
    <div class="submit-btn">
      <button style="width:25%;margin-left:1em" type="submit">Schedule</button>
    </div>
  </form>
</div>

<h1 class="heading">Available Appointments</h1>
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Duration (min)</th>
      
      <th scope="col">Availability Status</th>
      <th scope="col">Confirmation Status</th>
      <th scope="col">Client</th>
      
    </tr>
  </thead>
  <tbody>
    {% for available_booking in available_bookings %}
      {% if current_date < available_booking.date or current_date == available_booking.date and current_time < available_booking.time %}
    <tr>
      <td>{{ available_booking.date }}</td>
      <td>{{ available_booking.time }}</td>
      <td>{{ available_booking.duration }}</td>
      
     
      {% if available_booking.booked == True %}
      <td>Booked  <a class="app-cancel" href="{% url 'cancel-booking-sp' available_booking.id %}">Cancel</a></td>
      {% else %}
      <td>Available <a class="app-delete" href="{% url 'delete-available-booking' available_booking.id %}">Delete</a></td>
      {% endif %}
   
      {% if available_booking.confirmed == True %}
      <td>Confirmed</td>
      {% else %}
      <td>Pending</td>
      {% endif %}

      {% if available_booking.cancelled == True or available_booking.client == null %}
      <td></td>
      {% else %}
        <td> @<a class="table-booked-with" href="{% url 'client-profile'  available_booking.client %}">{{ available_booking.client }}</a></td>
      {% endif %}

    
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
  
</table>

{% endif %}

{% endblock content %}
