{% extends 'base.html' %}

{% block content %}

<h1>Service Provider Profile page</h1>

<h4>{{user.first_name}}  {{user.last_name}}</h4>

<a href="{% url 'service-provider-profile' request.user.username %}">Profile</a>
<a href="{% url 'schedule-appointments' request.user.username %}">Schedule Appointments</a>
<a href="{% url 'booked-appointments' request.user.username %}">Booked Appointments</a>
<a href="{% url 'schedule-group-sessions' request.user.username %}">Schedule Live Group Sessions</a>
<a href="{% url 'available-group-sessions' request.user.username %}">Live Group Sessions</a>


{% if request.user == user %}
<h3>Schedule Available Bookings</h3>

<div>
  <form method="POST" action="">
    {% csrf_token %}  <!-- prevent against malicious attacks -->
    
    {{ form.as_p }} <!-- wraps p tag around every paragraph-->
    <input type="submit" value="Submit" />
  </form>
</div>

<h2>Available Appointments</h2>
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Duration (min)</th>
      
      <th scope="col">Availability Status</th>
      <th scope="col">Confirmation Status</th>
      <th scope="col">Client</th>
      
    </tr>
  </thead>
  <tbody>
    {% for available_booking in available_bookings %}
      {% if current_date < available_booking.date or current_date == available_booking.date and current_time < available_booking.time %}
    <tr>
      <td>{{ available_booking.date }}</td>
      <td>{{ available_booking.time }}</td>
      <td>TODO this + enable delete button</td>
      
     
      {% if available_booking.booked == True %}
      <td>Booked  <a href="{% url 'cancel-booking-sp' available_booking.id %}">Cancel</a></td>
      {% else %}
      <td>Available <a href="">Delete</a></td>
      {% endif %}

      {% if available_booking.confirmed == True %}
      <td>Confirmed</td>
      {% else %}
      <td>Pending</td>
      {% endif %}

      {% if available_booking.cancelled == True or available_booking.client == null %}
      <td></td>
      {% else %}
        <td> @<a href="{% url 'client-profile'  available_booking.client %}">{{ available_booking.client }}</a></td>
      {% endif %}

    
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
  
</table>

<hr>
{% endif %}

{% endblock content %}
