{% extends 'base.html' %}

{% block content %}

<h1>Service Providers</h1>

{% for service_provider in service_providers %}
<div>
  <ul>
    <li>
      <a href="{% url 'service-provider-profile' service_provider %}">{{ service_provider.first_name }} {{ service_provider.last_name }}</a><br>
      <a href="">Book Now</a>
      <br></li>
  </ul>
</div>
{% endfor %}
{% if messages %}

{% for message in messages %}
  <div class="alert alert-{{ message.tags}}">
    {{ message }}
  </div>
{% endfor %}
{% endif %}

{% endblock content %}