{% extends 'base.html' %}

{% block content %}

<h1 class="heading">Service Providers</h1>

<div class="sp-list-container">
{% for service_provider in service_providers %}
{% if service_provider.is_staff == False %}

<div class="sp-list">
  <div class="sp-details">
    <div><img style="border-radius: 1em;" src="{{ service_provider.profile_picture.url}}" alt="profile picture" width="150" height="110"/></div>
    <div class="sp-name-book">
      <a class="sp-full-name" href="{% url 'service-provider-profile' service_provider %}">{{ service_provider.first_name }} {{ service_provider.last_name }}</a><br>
      <a class="sp-book" href="{%  url 'client-booking' service_provider %}">Book</a>
    </div>
  </div>

</div>

{% endif %}
{% endfor %}
</div>


{% endblock content %}
